body{background-color: #f1f1f3;}
 *{text-decoration: none;color: #000;}
.container{
    width:920px;
    padding:50px 0 25px;
    margin: auto;
    background-color: #fff;
}
.parent2{
    padding-bottom: 5px;
    margin: 0 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.parent2 .reg{
    cursor: pointer;
    text-decoration: underline !important;
}
.d{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.d2{
    width: 390px;
    height: 497px;
    background: url(../../../public/img/Global_Combo_Image_JAN2018.png) no-repeat ;
    background-size: 100%;
    position: relative;
}
.d>p{margin: -170px auto 50px;}
.d>.dd1>span{font-size: 14px;}
.input_1,.input_2{
    width: 260px;
    border:0;
    outline: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    padding: 0 0 7px;
    font-size: 15px;
}
.input_2{margin-bottom: 12px;}
.d>a{margin:3px 0px 10px;text-decoration: underline;font-size: 13px;}
.d>label{margin: 0px -3px 2px;font-size: 13px;}
.btn_login,.btn_login1{
    cursor: pointer;
    width: 260px;
    text-align: center;
    height: 44px;
    line-height: 15px;
    vertical-align: middle;
    margin: 13px 0 10px;
    background:#333;
    padding: 12px 0;
    transition: all 1s linear;
}
.btn_login:hover,.btn_login1:hover{background: #000;}
.btn_login>a,.btn_login1>a{color: white;font-size: 16px;}
.btn_login1{position: absolute;top: 408px;left: 18%;}
.cm_a1{font-size: 19px;margin: 40px auto 45px;}
.cm_a2{font-size: 13px;display: inline-block;padding: 0 60px;}
.cm_a1:hover,.cm_a2:hover{text-decoration: underline;}

    .rm_1{display: none;  }
    .rm_1+label{
        background-color: #FFF;
        border: 1px solid #000;
        padding: 8px;
        display: inline-block;
        position: relative;
        top:5px;
    }
    .rm_1:checked+label{
        background-color: #707476;
        border: 1px solid #000;
    }
    .rm_1:checked+label:after{
         content: "\2714"; 
         position: absolute;
         top: -3px;
         left: 0px;
        color: #fff;
        width: 100%;
        text-align: center;
        font-size: 15px;
        padding: 1px 0 0 0;
    }
    