*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header .nav .nav-center ul li .menu2 .d1 .d1-menu1 p,
header .nav .nav-center ul li .menu2 .d1 .d1-menu2 p,
header .nav .nav-center ul li .menu2 .d1 .d1-menu3 p{
    height: 10px;
    font-size: 12px;
    color: #706d75;
    cursor: pointer;
}
header .nav .nav-center ul li .menu8 .menu8-center .menu8-ct-left p,
header .nav .nav-center ul li .menu8 .menu8-center .menu8-ct-right p{
    margin-bottom: 16px;
    margin-left: 30px;
    font-size: 12px;
    height: 12px;
    color: #706d75
}

.container-fluid .headder{
    width: 1149px;
    height: 149px;
}
.container-fluid .nav{
    z-index: 199;
}
.container-fluid .describle{
    background: url(../../../public/img/breadcrumb-bg.jpg);
}
.container-fluid .describle .breadcrumb{
    width: 1128px;
    height: 50px;
    margin: 0 auto;
    padding: 8px 19px 14px;
    box-sizing: border-box;
}
.container-fluid .describle .breadcrumb a{
    color: #333333;
    font:12px simhei;
}
.container-fluid .describle .breadcrumb .next-link{
    color: #706D75;
    font:12px simhei;
}
.container-fluid .describle .breadcrumb .breadcrumb-elem{
    color: #B8B8B8;
    font:12px simhei;
}
.container-fluid .describle .brief-flex{
    max-width: 1128px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container-fluid .describle .brief-flex h1{
    margin-bottom: 12px;
    color: #333333;
    font-family: simhei; 
    text-transform: uppercase;
    font-weight: normal;
}
.container-fluid .describle .brief-flex .product-count{
    color: #B0B0B0;
    font-family: simhei; 
}
.container-fluid .describle .brief-flex .desc-word{
    margin-bottom: 25px;
}
.container-fluid .describle .brief-flex .desc-word p{
    margin: 14px 0;
    color: #333333;
    font:14px "simhei";
    text-align: center;
}
.container-fluid .describle .product-kind{
    text-align: center;
    margin-bottom: 30px;
}
.container-fluid .describle .product-kind .product-link{
    display: inline-block;
    border: 1px solid #f1f1f3;
    margin-right: 8px;
    margin-bottom: 5px;
    padding:8px 10px;
    background-color: #FFFFFF;
    color: #333333;
    font: 12px "0ptima li w01 roman";
}
.container-fluid .filter{
    width: 100%;
    height: 40px;
    background-color: #fcfcfc;
    border-top: 1px solid #f1f1f3;
    border-bottom: 1px solid #f1f1f3;
    position: relative;
}
.container-fluid .filter-content{
    max-width: 1128px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 19px;
    box-sizing: border-box;
}
.container-fluid .filter .filter-left{
    width: 80%;
    display: flex;
    flex-direction: row;
}
.container-fluid .filter .filter-left span{
    display: inline-block;
    margin-right: 35px;
    padding: 15px 0 10px;
    font:12px simhei;
    color: #333333;
    position: relative;
    cursor: pointer;
}
.container-fluid .filter .filter-right span:after,
.container-fluid .filter .filter-left span::after{
    position: absolute;
    right: -18px;
    top: 19px;
    width: 0;
    height: 0;
    content: "";
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #fff transparent;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.container-fluid .filter .filter-right span:before,
.container-fluid .filter .filter-left span::before{
    content: "";
    position: absolute;
    right: -18px;
    top: 20px;
    width: 0;
    height: 0;
    content: "";
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #333333 transparent;
}
.container-fluid .filter .filter-left .expend{
    width: 100%;
    padding-bottom: 12px;
    box-shadow:0 0 1px #888;
    position: absolute;
    left: 0;
    top: 42px;
    background-color: #fff;

}
.container-fluid .filter .filter-left .expend .expend-main{
    width: 1166px;
    margin: 0 auto;
    padding: 33px 0 14px;
}
.container-fluid .filter .filter-left .expend .expend-main-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.container-fluid .filter .filter-left .expend .expend-main-flex.price{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container-fluid .filter .filter-left .expend .expend-main-flex.price .expend-flex-item{
    width: 200px;
}
.container-fluid .filter .filter-left .expend .expend-main-flex .expend-flex-item{
    width: 100px;
    padding: 3px 30px 3px 0;
    margin-bottom: 7px;
}

.container-fluid .filter .filter-left .expend .expend-main-flex .expend-flex-item img{
    width: 60px;
    height: 60px;
    margin: 0 20px;
}
.container-fluid .filter .filter-left .expend .expend-main-flex .expend-flex-item p{
    font: 12px simhei;
    color: #333;
    padding-top: 8px;
    text-align: center;
}
.container-fluid .filter .filter-left .expend .expend-main-flex .expend-flex-item .input{
    -webkit-appearance: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 1%;
    position: relative;
    top: 15px;
    left: 20px;
    
}
.container-fluid .filter .filter-left .expend .expend-main-flex .expend-flex-item>a>i{
    display: inline-block;
    font-family: simhei;
    font-size:16px;
    color:#888;
    font-style: normal;position: relative;
    top: 13px;
    left: 20px;
}
.container-fluid .filter .filter-right{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    font: 12px simhei;
    color: #333;
    position: relative;
}
.container-fluid .filter .filter-right span{
    padding: 15px 0 10px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}
.container-fluid .filter .filter-right .selector{
    position: absolute;
    top: 39px;
    right: 0;
    box-shadow: 0 0 5px #888;
    background-color: #fff;
}
.container-fluid .filter .filter-right .selector li{
    width: 200px;
    padding: 11px 10px;
    border-bottom: 1px solid #f1f1f3;
    box-sizing: border-box;
    font: 12px simhei;
    text-align: left;
}
.container-fluid .filter .filter-right .selector li:hover{
    background-color: #b0b0b0;
}
.container-fluid .filter .filter-right .selector li>a{
    color: #333;
}
/* 商品列表 */
.container-fluid .product{
    max-width: 1128px;
    margin: 0 auto;
}
.container-fluid .product  .first-row{
    display: flex;
    flex-direction: row;
}
.container-fluid .product  .first-row .first-row-items{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border: 1px solid #f1f1f3;
}
.container-fluid .product  .first-row .first-row-items .flag-top{
    display: block;
    width: 76px;
    margin-top:6px;
    background-color: #F08080;
    color: #fff;
    font: 14px simhei;
    padding: 2px 10px;
    box-sizing: border-box;
}
.container-fluid .product  .first-row .first-row-items .product-center-img img{
    width: 100%;
    height: 100%;
}
.container-fluid .product  .first-row .first-row-items .product-price,
.container-fluid .product  .first-row .first-row-items .product-name{
    color: #333;
    font: 12px simhei;
    display: block;
    margin-top:32px;
}
.container-fluid .product .first-row  .first-row-items .add-shoppingcar{
    width: 80%;
    margin: 20px 0 20px;
    text-align: center;
}
.container-fluid .product  .first-row .first-row-items .add-shoppingcar button{
    visibility: hidden;
    width: 230px;
    height: 35px;
    border: none;
    background-color: #333;
    font: 14px simhei;
    color: #fff;
}
.container-fluid .product  .first-row .first-row-items .add-shoppingcar i{
    visibility: hidden;
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #333;
    background-color: #fff;
    font-size: 24px;
    line-height: 1.9;
    position: relative;
    top: 9px;
    left: -4px;
    box-sizing: border-box;
}
.container-fluid .product  .first-row .first-row-items .add-shoppingcar:hover button,
.container-fluid .product  .first-row .first-row-items .add-shoppingcar:hover i{
    visibility: visible;
}

